.cart{
  background-color: #fef2ff;
  font-family: Arial, Helvetica, sans-serif;
}
.cart-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.cart-container h2 {
  text-align: center;
  color: #9222ce;
  margin-bottom: 20px;
  font-size: 2rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.cart-empty {
  text-align: center;
  font-size: 22px;
  color: #777;
  margin-top: 50px;
  padding: 50px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-empty:before {
  content: "🛒"; 
  font-size: 40px;
  display: block;
  margin-bottom: 15px;
  color: #ccc;
}

.cart-empty a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #9222ce;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.2s;
}

.cart-empty a:hover {
  background-color: #33cc12;
  transform: translateY(-3px);
}

.cart-items {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.cart-items li {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cart-items li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.cart-items img {
  max-width: 100px;
  margin-right: 20px;
  border-radius: 8px;
}

.cart-items .item-details {
  flex-grow: 1;
}

.cart-items .item-details h4 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.cart-items .item-details p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #666;
}

.cart-items button {
  margin-left: auto;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.cart-items button:hover {
  background-color: #ff1a1a;
  transform: scale(1.05);
}

.checkout-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.left-side {
  flex: 2; /* Takes more space */
  margin-right: 20px; /* Space between left and right side */
}

.right-side {
  flex: 1; /* Takes less space */
}

.cart-summary {
  margin-top: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.user-info {
  margin-top: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.user-info input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.payment-method {
  margin-top: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s, transform 0.3s;
}

.payment-method:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.payment-method h3 {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.payment-method select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f9f9f9;
  transition: border-color 0.3s, background-color 0.3s;
}

.payment-method select:focus {
  border-color: #9222ce;
  background-color: #fff;
  outline: none; /* Remove default outline */
}

.payment-method .checkout-btn {
  padding: 12px;
  background-color: #9222ce;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.payment-method .checkout-btn:hover {
  background-color: #e89fef;
  color: #333;
  transform: translateY(-3px);
}


.checkout-btn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #9222ce;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
}

.checkout-btn:hover {
  background-color: #e89fef;
  color: #333;
  transform: translateY(-3px);
}
