body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #fef2ff;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    background-color: #e0e0e0;
    padding-top: 60px; 
    box-sizing: border-box;
}

.contact .form-container {
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; /* Centers the form horizontally */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #39FF14;
}

button {
    padding: 15px;
    background-color: #9222ce;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #df6ce9;
    color: #333;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

span {
    display: block;
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    color: #333;
}
