.product-card {
  border: 1px solid #fef2ff;
  border-radius: 10px; 
  padding: 16px;
  text-align: center;
  margin: 16px;
  width: 250px; 
  transition: transform 0.3s, box-shadow 0.3s; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Arrange children vertically */
  justify-content: space-between; /* Space out children */
  height: 100%; /* Make the card full height */
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; 
}

.product-card h3 {
  font-size: 20px; 
  margin: 12px 0; 
  color: #000000; 
}

.product-card p {
  margin: 8px 0;
  color: #555; 
  font-size: 16px; 
  flex-grow: 1; /* Allow paragraph to grow and take available space */
}

.product-card button {
  background-color: #9222ce; 
  color: rgb(255, 255, 255); 
  border: none;
  padding: 12px 20px; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; 
  transition: background-color 0.3s, transform 0.2s; 
}

.product-card button:hover {
  background-color: #e89fef; 
  color: #000000;
  transform: scale(1.05); 
}
